{
  "extends": "stylelint-config-standard",
  "rules": {
    "rule-empty-line-before": "never",
    "selector-list-comma-newline-after": "never-multi-line",
    "string-quotes": "single",
    "indentation": 4,
    "selector-pseudo-element-colon-notation": "single",
    "no-descending-specificity": null
  }
}
