.tipsWrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1050;

  .tipsArrow {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: transparent;
    pointer-events: none;

    &.tipsArrow-top {
      bottom: -16px;
      left: 16px;
    }

    &.tipsArrow-right {
      left: -16px;
      top: 8px;

      &::before {
        transform: translateX(8px) rotate(45deg);
      }
    }

    &.tipsArrow-bottom {
      top: -16px;
      left: 16px;

      &::before {
        transform: translateY(8px) rotate(45deg);
      }
    }

    &.tipsArrow-left {
      right: -16px;
      top: 8px;

      &::before {
        transform: translateX(-8px) rotate(45deg);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 8px;
      height: 8px;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.75);
      pointer-events: auto;
      transform: translateY(-8px) rotate(45deg);
    }
  }

  .tipsMain {
    display: block;
    min-width: 40px;
    word-break: break-all;
    max-width: 300px;
    min-height: 32px;
    padding: 6px 12px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
}

:global {
  .tips-enter-active,
  .tips-leave-active {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom;
    transition: transform ease 0.2s;
  }

  .tips-enter,
  .tips-leave-to {
    opacity: 0;
    transform: scale(0.5);
  }
}