.todoDetail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: @zIndex-top;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.saveBtn {
  --height: 28px;
  display: inline-block;
  width: 60px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  font-size: @font-size-base;
  color: @primary-color;
  background-color: #fff;
  border-radius: @border-radius-base;
  border: 1px solid @primary-color;
  /*no*/
  cursor: pointer;
}

.todoDetailContent {
  padding: 0 @primary-gap;
  background-color: #fff;

  .todoDetailTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    border-bottom: 1px solid @border-color-base; /*no*/

    &.finished {
      .todoDetailCheck .icon {
        color: @success-color;
      }
    }

    .todoDetailCheck {
      display: block;
      min-width: 30px;

      .icon {
        font-size: 16px;
        color: @warning-color;
      }
    }
  }

}

.todoDetailInput {
  display: block;
  font-size: @font-size-base;
  /*px*/
  color: @text-color;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 32px;
  padding: 4px 0;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  outline: none;
  border-color: transparent;
}

.todoDetailText {
  display: block;
  font-size: @font-size-base;
  /*px*/
  color: @text-color;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 120px;
  padding: 4px 0;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  outline: none;
  border-color: transparent;
}

.todoDetailDate {
  font-size: @font-size-tiny;
  /*px*/
  color: @primary-color;
  padding-top: 8px;
  padding-bottom: @primary-gap;

  .icon {
    font-size: @font-size-tiny;
    color: @primary-color;
    margin-right: 4px;
  }
}